/* ===== MAIN CSS - SOLO IMPORTACIONES ===== */
@import url('variables.css');
@import url('reset.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('sections/hero.css');
@import url('sections/servicios.css');
@import url('sections/noticias.css');
@import url('sections/transparencia.css');
@import url('sections/estadisticas.css');
@import url('sections/contacto.css');
@import url('utils/responsive.css');